

h1 {
	color: #104B25;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 900;
	font-size: 60px;
}
h2 {
	color: #14562B;
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Dosis', sans-serif;
	color: #72A31B
	font-size: 30px;
}
a {
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #14562B;
}
img {
	width: 180px;
	border-radius: 50%;
}
div {
	border-color: #1C2B03;
	border-style: 5px;
}
body {
	text-align: center;
	background-color: #F0F9E1;
}

