

h1 {
	color: #104B25;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 900;
	font-size: 60px;
}
h2 {
	color: #14562B;
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Dosis', sans-serif;
}
a {
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #14562B;
}
body {
	text-align: center;
}