

h1 {
	color: #104B25;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 900;
	font-size: 60px;
}
h2 {
	color: #14562B;
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Dosis', sans-serif;
	color: #72A31B;
	font-size: 20px;
	margin: 5px;
}
a {
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #14562B;
}
img {
	width: 160px;
	border-radius: 60%;
}
div {
	border-color: #1C2B03;
	border-style: 5px;
}
.card-white {
	background-color: white;
	padding: 40px;
	border-radius: 4px;
	margin: 30px 16px;
	box-shadow: 
}
.list-inline {
	list-style: none;
}
.fa-python {
	color: #14562B;
	font-size: 30px;
	margin-top: 15px;	
}
.fa-python:hover {
	background-color: #819361;
}
.fa-book {
	color: #14562B;
	font-size: 30px;
	margin-top: 20px;
}
.fa-linkedin {
	color: #14562B;
	font-size: 30px;
}
.fa-github {	
	color: #14562B;
	font-size: 30px;
}
.fa-utensils {
	color: #14562B;
	font-size: 30px;
	margin-top: 20px;
}
body {
	text-align: center;
	background-color: #F5FBEB;
}

