
body {
  font-family: 'Reenie Beanie',cursive;
  font-size: 35px;
  width: 900px;
  margin-left: 60px;
}
h1 {
  font-size: 180%;
  font-weight: bolder;
}
h2 {
  font-size: 120%;
  color: #4040AA;
  font-weight: bolder;
}
h3 {
  color: #4040AA;
  font-weight: bolder;
}
a {
  color: purple;
}
main {
  float: left;
  width: 810px;
}
aside {
  float: right;
  width: 90px;
  height: auto;
  font-size: 25px;
  color: purple;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
  border: 0.2px solid purple;
  border-radius: 10%;
  background-color: #FDFDFC;
  position: fixed;
}
footer {
  color: #4040AA;
  font-style: italic;
  font-size: 20px;
}
.top-header {
  text-align: center;
  color: #15158D;
}
.intro {
  font-size: 80%;
  color: #4040AA;
}
.img1 {
  float: right;
  margin-left: 20px;
}
.img2 {
  float: left;
  margin-right: 50px;
  margin-top: 10px;
}
.img3 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 50%;
  height: auto;
}
