html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Reenie Beanie',cursive;
  font-size: 30px;
  max-width: 1100px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 50px;
  margin-right: 100px;
  background-color: #FEFEFF;
  background: url('imgs/relax-pict.jpg') left top no-repeat;
  background-size: 220px auto, auto 200px;
  background-attachment: fixed, fixed;
}
figcaption {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 80%;
}
h1 {
  font-size: 180%;
  font-weight: bolder;
}
h2 {
  font-size: 120%;
  color: #4040AA;
  font-weight: bolder;
}
h3 {
  color: #4040AA;
  font-weight: bolder;
}
a {
  color: purple;
}
.main-text {
  width: 900px;
}
.sidebar {
  width: 250px;
  margin-left: 10px;
  margin-top: -10px;
  margin-right: 30px;
  float: right;
  font-size: 20px;
}
div .warning {
  bottom: 5px;
  top: 5px;
}
.warning {
  right: 30px;
  width: 80px;
  font-size: 20px;
  color: purple;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 20px;
  border: 0.2px solid purple;
  border-radius: 10%;
  background-color: #FFFFFF;
  position: fixed;
}
footer {
  color: #4040AA;
  font-style: italic;
  font-size: 20px;
}
.top-header {
  text-align: center;
  color: #15158D;
}
.intro {
  font-size: 85%;
  color: #4040AA;
  width: 75%;
}
.img1 {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
  margin-right: 50px;
}
.img2 {
  float: left;
  margin-right: 50px;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}
.blogpage {
  margin: 20px;
}
.blog {
  width: 20%;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}
