* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 600px;
  background-color: #cacaca;
  padding: 10px;
  margin: 50px 20px;
}

.item {
  background-color: red;
  color: white;
  font-size: 35px;
  padding: 30px;
  margin: 10px;
  /* flex-grow: 1; */
}

.item-10 {
  flex: 1;
}
