body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2c3e50;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #3498db;
}
.header_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.header_title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}
.main_text {

}
.figure {
  position: relative;
  margin: 0 auto 15px;
}
.figure_img {
  display: block;
  width: 100%;
  border-radius: 4px;
}
.sidebar {

}
.main_quote {

}
.last_paragraph {

}
.footer {

}
