body {
  font-size: 100%;
}
h1 {
  color: red;
}
@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
  h1 {
    color: yellow;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
