*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin-bottom: 0 auto;
  box-sizing: border-box;
  display: block;
  float: none;
  line-height: 22px;
  position: static;
}

.row {
  background: #fff;
  padding: 66px 0 44px 0;
  min-width: 960px;
  display: block;
}

.grid {
  padding-left: 15px;
  padding-right: 15px;

}

.col-2-3 {
  display: inline-block;
  vertical-align: top;
  width: 66.66%;
}

.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}

form {
  margin-bottom: 22px;
}

.col-1-3 {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}

.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}

.btn-default:hover {
  background: #77a198;
}