/* Reset the default styling of the page: this ensures CONSISTENCY across
   different browsers; change default font */

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
/* Center the header and add padding and alignment */
header {
  background-color: #fdfdfc;
  border-bottom: 1px solid #e7e6e6;
  padding-top: 14px;
  text-align: center;
}
/* Make portrait and title inline elements */
.portrait, .title {
  display: inline-block;
}
/* Make portrait image round and restrict its height */
.portrait img {
  border-radius: 45px;
  height: 85px;
}
.portrait {
  padding-bottom: 10px;
}
.title {
  margin: 20px 20px 0;
  vertical-align: top;
}
.title h1 {
  color: #3D5167;
}
/* Remove bullets from list of links */
#toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Make elements inline so that they sit next to each other */
#toolbar li {
  display: inline-block;
  padding: 10px;
  background-color: #3D5167;
  text-align: center;
}
#toolbar li a{
  text-decoration: none;
  color: #e7e7e7;
}
#toolbar li a:hover {
  border-bottom: 1px solid;
}
#content {
  background-color: #e8e8e8;
  padding: 30px 40px;
}
.mark_i img {
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}
.cobol img {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
