* {
    box-sizing: border-box;
}

/* remove default margin for the body*/
body {
	margin: 0;
}

#top {
	background: #5cf1f8;
	color: white;
}

/* get rid of margins and display inline*/
#top h1, #top h2 {
	margin: 0;
	display: inline-block;
	padding: 1em 0.5em;
}

#top h2 {
	float: right;
}

#header img, .campus img {
  width: 100%;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.campus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 2em;
}

footer {
	background: black;
	color: white;
	text-align: center;
	bottom: 0;
	width: 100vw;
	padding: 1em 0;
}
/* now adding media queries*/
/* tablets*/
@media all and (max-width: 800px){
	.campus {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* smartphones */
@media all and (max-width: 400px){
	.campus {
		grid-template-columns: 1fr;
	}
  .dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 2em;
  }
}

@media print {
	.campus {
		grid-template-columns: 1fr 1fr;
	}
}
/* IF YOU DO NOT WANT THE HEADER PICTURE ON A MOBILE: */
@media all and (max-width: 400px){
	.campus {
		grid-template-columns: 1fr;
	}
  #header img {
    display: none;
  }
}
