body {
  font-family: Helvetica, Arial, sans-serif;
  border-top: 5px solid #4c4066;
  margin: 0;
  padding: 10px 150px;
  font-size: 15px;
  color: #666666;
}
header {
	font-weight: 900px;
	font-size: 40px;
  font-weight: 100px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FDFDFC;
}
nav {
  text-align: center;
  font-size: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E7E6E6;
  background-color: #FDFDFC;
}
a {
  text-decoration: none;
  color: #663095;
  font-size: 1.2em;
}
article {
  padding-right: 210px;
  padding-bottom: 180px;
}
