body {
  font-family: Helvetica, Arial, sans-serif;
  border-top: 5px solid #4c4066;
  margin: 0;
  padding: 10px 150px;
  font-size: 15px;
  color: #666666;
}
header {
	font-weight: 900px;
	font-size: 40px;
  font-weight: 100px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FDFDFC;
}
nav {
  text-align: center;
  font-size: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E7E6E6;
  background-color: #FDFDFC;
}
a {
  text-decoration: none;
  color: #663095;
  font-size: 1.2em;
}
.article-header {
  padding-top: 15px;
  font-size: 0.75em;
  color: black;
}
article {
  width: 600px;
  padding-bottom: 180px;
}
aside {
  margin-top: 20px;
  width: 200px;
  float: right;
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: #FDFDFC;
  position: fixed;
  right: 150px;
  border-bottom: 1px solid #E7E6E6;
  background-color: #FDFDFC;
  border-radius: 20px;
}
aside ul {
  list-style: none;
}
article {
  width: 600px;
  padding-bottom: 180px;
}
.articles li {
  list-style: none;
}
h2 {
  color: black;
}
img {
  height: 250px;
  width: 250px;
}
.pictures-programmers ul {
  text-align: left;
  list-style: none;
  margin: 10px auto;
  width: 900px;

}
.resources {

}
