body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  border-top: 5px solid #4c4066;
  padding: 10px 100px;
  font-size: 15px;
  color: #666666;
}
header {
	font-weight: 900px;
	font-size: 30px;
  font-weight: 80px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FDFDFC;
}
nav {
  text-align: center;
  font-size: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E7E6E6;
  background-color: #FDFDFC;
}
a {
  text-decoration: none;
  color: #663095;
  font-size: 1.2em;
}
.article-header {
  padding-top: 15px;
  font-size: 0.70em;
  color: black;
}
article {
  color: black;
  width: 600px;
  padding-bottom: 15px;
}
aside {
  margin-top: 20px;
  width: 200px;
  float: right;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  line-height: 150%;
  background-color: #FDFDFC;
  position: fixed;
  right: 100px;
  border: 1px solid #E7E6E6;
  background-color: #FDFDFC;
  border-radius: 20px;
}
aside ul {
  list-style: none;
  text-align: left;
}
.articles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h2 {
  color: black;
  font-size: 1.3em;
}
h3 {
  color: black;
}
figure {
  margin: 0;
  padding-bottom: 4px;
  border-bottom: 1px dotted #0098d8;
}
img {
  height: 220px;
  width: 220px;
}
.women-programmers {
  display: inline-block;
  padding: 10px;
}
#ada {
  padding: 10px;
  display: inline-block;
}
#grace {
  padding: 10px;
  display: inline-block;
}
#anita {
  padding: 10px;
  display: inline-block;
}
figcaption {
  text-align: center;
  font-style: italic;
  font-size: 70%;
}
footer {
  font-style: italic;
  font-size: 95%;
  color: #666666
}
footer a {
  font-size: 90%;
}
